<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | page</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <style>
* {
            margin: 0;
            padding: 0
        }

        body {
            font-family: sans-serif, Arial !important;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background: linear-gradient(120deg, #E6E9ED, #E6E9ED);
        height: 100vh;
        overflow: hidden;
        }

        a {
            text-decoration: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            line-height: 150%;
            margin-bottom: 2em;
        }

        .fix {
            overflow: hidden;
        }

        .container_full {
            width: 100%;
        }

        .container {
            width: 1280px;
            display: block;
            margin: 0 auto;
        }

        .bg_color {
            background: #292929;
        }

        .logo {
            float: left;
        }

        .logo h2 {
            font-family: lato;
            color: white;
            font-weight: bold;
            font-size: 40px;
            padding-top: 20px;
        }

        header nav {
            float: right;
        }

        header nav .menu {
            list-style: none;
        }

        header nav .menu li {
            float: left;
            border-right: 1px solid #1D1D1D;
        }

        header nav .menu li:first-child {
            border-left: 1px solid #1D1D1D;
        }

        header nav .menu li a {
            color: white;
            font-family: lato;
            font-weight: bold;
            font-size: 16px;
            display: block;
            padding: 50px 30px;
            border-bottom: 5px solid #1E1E1E;
        }

        header nav .menu li a:hover {
            border-bottom: 5px solid #6DD053;
            color: #6DD053;
        }

        header nav .menu li.active a {
            border-bottom: 5px solid #6DD053;
            color: #6DD053;
        }
        .form_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 500px;
        background: white;
    }

    .form_container h1 {
       
        color: white;
        text-align: center;
        font: bold;
    }
    #top{
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    }

    .form_container form {
        box-sizing: border-box;
    }
    .form_container .logo {
       background-color: #20BBA6;

    }

    .form_container .email_field input {
        border: 1px solid gray;
        padding: 20px;
        width: 550px;
        border-radius: 5px;
        display: block;
        margin: auto;
    }

    .form_container label {
        margin-left: 55px;
    }

    .btn {
        width: 210px;
        padding: 15px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #20BBA6;
        border: none;
        color: white;
        font: bold;
        font-size: large;
        display: block;
        margin: auto;

    }
    .form_container .signup_page_link p{
      display: block;
      text-align: center;
    }
    </style>
    <link rel="stylesheet" href="../styles/footer.css" />
    <script defer src="../app.js"></script>
    <script
      src="https://kit.fontawesome.com/c046d5c77d.js"
      crossorigin="anonymous"
    ></script>
    <script src="./js/toastify.js"></script>
  </head>
  <body>
     <!--section_1 logo and menu -->

     <div class="container_full bg_color">
      <div class="fix container">
          <header>
              <div class="logo">
                  <h2>LOGO</h2>
              </div>
              <nav>
                  <ul class="menu">
                    <% if (loggedInUser && loggedInUser.username) { %>
                        <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/ngo" class="nav-link">NGOs</a></li>
                        <li class="nav-item"><a href="/home/about" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="/home/cause" class="nav-link">Causes</a></li>
                        <li class="nav-item"><a href="/home/blog" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="/home/gallary" class="nav-link">Gallery</a></li>
                        <li class="nav-item"><a href="/home/contact" class="nav-link">Contact</a></li>
                        <li class="nav-item cta"><a href="/donate" class="nav-link">Donate</a></li>
                        <li class="nav-item"><a href="/" class="nav-link" onclick="logout()">Logout</a></li>
                        <% } else { %>
                            <li class="nav-item active"><a href="/home" class="nav-link">Home</a></li>
                            <li class="nav-item"><a href="/ngo" class="nav-link">NGOs</a></li>
                            <li class="nav-item"><a href="/home/about" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="/home/cause" class="nav-link">Causes</a></li>
                            <li class="nav-item"><a href="/home/blog" class="nav-link">Blog</a></li>
                            <li class="nav-item"><a href="/home/gallary" class="nav-link">Gallery</a></li>
                            <li class="nav-item"><a href="/home/contact" class="nav-link">Contact</a></li>
                            <li class="nav-item cta"><a href="/donate" class="nav-link">Donate</a></li>
                            <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
                            <% } %>
                  </ul>
              </nav>
          </header>
      </div>
  </div>
    <!--section_2 slider part -->

    <div class="form_container">
        <div id="top" class="logo"><h1>Make a Donation</h1></div><br><br><br>
        <form method="post" action="/">
           <br><br><br> <div class="email_field">
                <input
                type="text"
                name="username"
                placeholder="Enter mobile or email"
                value="<%= data.username %>"
                ><br><br>
                <% if (errors.username) { %>
                  <p class="error show"><%= errors.username.msg %></p>
                <% } %>
            </div>
            <div class="email_field">
                <input type="password" name="password" placeholder="$100"><br><br>
                <% if (errors.password) { %>
                  <p class="error show"><%= errors.password.msg %></p>
                <% } %>
        
                <% if (errors.common) { %>
                  <p class="error show"><%= errors.common.msg %></p>
                <% } %>
            </div>
            <input class="btn" type="submit" value="Donate"><br><br>
        </form>
    </div>
      </div>
    
    <script>
        // toast
        const logoutToast = Toastify({
          text: "You are being logged out...",
          duration: 1000,
        });
  
        function logout() {
          fetch("/", {
            method: "DELETE",
          });
          logoutToast.showToast();
          setTimeout(() => {
            window.location.replace("/");
          }, 1000);
        }
      </script>
  </body>
</html>