<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <script src="./js/toastify.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        body {
            font-family: sans-serif, Arial !important;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        a {
            text-decoration: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: normal;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        p {
            line-height: 150%;
            margin-bottom: 2em;
        }

        .fix {
            overflow: hidden;
        }

        .container_full {
            width: 100%;
        }

        .container {
            width: 1280px;
            display: block;
            margin: 0 auto;
        }

        .bg_color {
            background: #292929;
        }

        .logo {
            float: left;
        }

        .logo h2 {
            font-family: lato;
            color: white;
            font-weight: bold;
            font-size: 40px;
            padding-top: 20px;
        }

        header nav {
            float: right;
        }

        header nav .menu {
            list-style: none;
        }

        header nav .menu li {
            float: left;
            border-right: 1px solid #1D1D1D;
        }

        header nav .menu li:first-child {
            border-left: 1px solid #1D1D1D;
        }

        header nav .menu li a {
            color: white;
            font-family: lato;
            font-weight: bold;
            font-size: 16px;
            display: block;
            padding: 50px 30px;
            border-bottom: 5px solid #1E1E1E;
        }

        header nav .menu li a:hover {
            border-bottom: 5px solid #6DD053;
            color: #6DD053;
        }

        header nav .menu li.active a {
            border-bottom: 5px solid #6DD053;
            color: #6DD053;
        }

        .content_wrapper {
            border-right: 1px solid #E1E0E0;
            border-left: 1px solid #E1E0E0;
            overflow: hidden;
            padding-top: 75px;
        }
        .slider_top {
            border-top: 5px solid #1E1E1E;
            margin-top: -5px;
        }

        .slider_container img {
            height: 600px;
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .our_services {
            text-align: center;
            display: block;
        }
        .services .service_container {
            position: relative;
            height: 400px;
            width: 300px;
            margin: 20px;
        }
        .services .service_container img {
            height: 50px;
            width: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .services .service_container h3 {
            text-align: center;
            font: bold;
        }
        .services .service_container p {
            text-align: center;
        }
        .services {
            display: flex;
        }

        .bg_footer {
            background: #D2D2D2;
        }

        footer {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            ;
        }

        footer h1 {
            font-family: lato;
            font-weight: bold;
            font-size: 40px;
            color: #292929;
        }

        footer p {
            font-family: lato;
            font-weight: regular;
            font-size: 13px;
            color: #a6a6a6;
        }

        footer .social_area ul {
            list-style: none;
        }

        footer .social_area ul li {
            display: inline-block;
            margin: 0 10px;
        }

        footer .social_area ul li.facebook a {
            display: block;
            height: 40px;
            width: 40px;
            background: url(images/facebook.png) no-repeat;
        }

        footer .social_area ul li.facebook:hover a {
            display: block;
            height: 40px;
            width: 40px;
            background: url(images/search_icon.png) no-repeat;
        }
        
    </style>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    <!--section_1 logo and menu -->

    <div class="container_full bg_color">
        <div class="fix container">
            <header>
                <div class="logo">
                    <h2>LOGO</h2>
                </div>
                <nav>
                    <ul class="menu">
                        <% if (loggedInUser && loggedInUser.username) { %>
                            <li class="active"><a href="/home">Home</a></li>
                            <li><a href="/ngolist">NGOs</a></li>
                            <li><a href="/">Gallary</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/home/contact">Contact</a></li>
                            <li><a href="/donate">Donate</a></li>
                            <li><a href="/"  onclick="logout()">Logout</a></li>
                            <% } else { %>
                                <li class="active"><a href="/home">Home</a></li>
                                <li><a href="/ngo">NGOs</a></li>
                                <li><a href="/home/gallary">Gallary</a></li>
                                <li><a href="home/about">About</a></li>
                                <li><a href="/home/contact">Contact</a></li>
                                <li><a href="/donate">Donate</a></li>
                                <li><a href="/" class="user_icon"> <i class="fas fa-user-circle"></i></a></li>
                            <% } %>
                    </ul>
                </nav>
            </header>
        </div>
    </div>
    <!--section_2 slider part -->
    <div class="slider_top">
        <div class="fix container">
            <div class="slider_container">
                <script>
                    var i = 0;
                    var images = [];
                    var time = 3000;
                    images[0] = 'SliderImages/image5.png';
                    images[1] = 'SliderImages/image4.jpg';
                    images[2] = 'SliderImages/image10.jpg.crdownload';
                    images[3] = 'SliderImages/image7.webp';
                    images[4] = 'SliderImages/image9.avif';
                    function changeImg() {
                        document.slide.src = images[i];
                        if (i < images.length - 1) {
                            i++;
                        }
                        else {
                            i = 0;
                        }
                        setTimeout("changeImg()", time);
                    }
                    window.onload = changeImg;
                </script>
                <img name="slide">
            </div>
        </div><br>
    </div>
    <!--Current Camp-->
    <div class="fix container">
        <div class="our_services"><br><br>
            <h2 class="service_header">Current Camp</h2>
        </div><br><br>
        <div class="services">
            <div class="service_container">
                <img src="HomeImages/parking-solid.svg" alt="">
                <h3>Donation</h3>
                <p>

                    Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris
                    nisi ut aliquipop ex ea commo
                    doconsequat, sunt in culpa qui
                    officia deserunt mollit anim id .

                </p>
            </div>
            <div class="service_container">
                <img src="HomeImages/utensils-solid.svg" alt="">
                <h3>Donate for child</h3>
                <p>
                    <small>
                        Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris
                        nisi ut aliquipop ex ea commo
                        doconsequat, sunt in culpa qui
                        officia deserunt mollit anim id .
                    </small>
                </p>
            </div>
            <div class="service_container">
                <img src="HomeImages/dumbbell-solid.svg" alt="">
                <h3>Donation</h3>
                <p>

                    Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris
                    nisi ut aliquipop ex ea commo
                    doconsequat, sunt in culpa qui
                    officia deserunt mollit anim id .

                </p>
            </div>
            <div class="service_container">
                <img src="/" alt="">
                <h3>Donation</h3>
                <p>

                    Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris
                    nisi ut aliquipop ex ea commo
                    doconsequat, sunt in culpa qui
                    officia deserunt mollit anim id .

                </p>
            </div>
        </div>
    </div>

    <!--section_4 footer part -->

    <div class="container_full bg_footer">
        <div class="fix container">
            <footer>
                <h1>Logo</h1>
                <p>© 2022 host_name.com - All Rights Reserved</p>
                <div class="social_area">
                    <ul>
                        <li class="facebook"><a href="#"></a></li>
                        <li class="facebook"><a href="#"></a></li>
                        <li class="facebook"><a href="#"></a></li>
                        <li class="facebook"><a href="#"></a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
    <script>
        // toast
        const logoutToast = Toastify({
          text: "You are being logged out...",
          duration: 1000,
        });
  
        function logout() {
          fetch("/", {
            method: "DELETE",
          });
          logoutToast.showToast();
          setTimeout(() => {
            window.location.replace("/");
          }, 1000);
        }
      </script>
</body>

</html>